// -------------------------------------
//   Main
//   -> 主要內容, 特殊版型寫在 pages/
// -------------------------------------

main {
	@include white_dot_background;
	background-color: #07090c;
	// z-index: 95;

	.inner {
		@include container($total-columns, $tablet, $desktop);
		padding-left: 0;
		padding-right: 0;
		overflow: visible;

		.toc {
			display: none;

			ul {
				padding-top: 15px;
				padding-bottom: 15px;
				margin: 0;
			}

			li {
				list-style: none;
				display: block;
				position: relative;
				height: 24px*1.4;

				&::before {
					content: " ";
					display: block;
					position: absolute;
					z-index: 1;
					width: 0;
					height: 92%;
					top: 4%;
					background-color: rgba($white, .07);
				}

				&:hover::before {
					background-color: rgba($white, .2);
				}

				a {
					display: block;
					position: relative;
					top: 0;
					z-index: 100;
					@include rhythm-to(0, 0.2, 0.2, 0, 24px);
				}

				&.active {
					height: 50px;

					a {
						@include rhythm-to(0, 0, 0, 0, 36px);
					}
				}
			}
		}

		.content {
			@include span-columns($total-columns, $total-columns);

			#{headings()} {
				color: $white;

				&:first-child {
					margin-top: 0;
				}
			}
		}

		.toc, .content {
			padding: 30px 1em 0;
			position: relative;

			> * {
				position: relative;
				z-index: 40;
			}

			&::before {
				content: " ";
				display: block;
				position: absolute;
				z-index: 1;
				width: 100%;
				top: 0;
				left: 0;
				height: 100%;
				background-color: rgba($black, .72);
			}
		}

		.lineup {
			overflow: hidden;
		}

		.line {
			position: relative;

			.stage {
				padding: 0 10px;
			}

			&::before {
				content: " ";
				display: block;
				position: absolute;
				width: 100%;
				height: $infinite;
				background-color: rgba($black, .72);
			}

			> * {
				position: relative;
			}

			#{headings()} {
				color: $white;
				text-align: center;
			}

			.img {
				position: relative;
				max-height: 400px;

				&::after {
					content: " ";
					display: block;
					position: absolute;
					top: 52%;
					width: 100%;
					height: 1000px;
					@include background(linear-gradient(top, rgba($black, 0) 0, rgba($black, .80) 80px));
				}
			}

			.show {
				overflow: hidden;
				height: 290px;
				margin-bottom: 10px;
				border-top: 1px solid rgba($white, .32);
				border-bottom: 1px solid rgba($white, .32);

				.content {
					position: relative;
					overflow: visible;
					padding: 0;
				}

				.title {
					font-size: 36px;
					position: absolute;
					bottom: 70px;
					padding: 0 8px;
				}

				.time {
					position: absolute;
					padding: 0 8px;
					bottom: 32px;
				}
			}
		}

		// ----- Tablet + ----- //
		@include at-breakpoint($tablet) {

			.content {
				@include span-columns($tablet-columns omega, $tablet-columns);
			}

			.toc {
				display: block;
				@include span-columns(3, $tablet-columns);
				top: 0;

				.csssticky & ul {
					@include position-sticky;
					top: $nav-height + $nav-padding*2;
				}
			}

			.toc ~ .content {
				@include span-columns($tablet-columns - 3 omega, $tablet-columns);
			}

		}

		// ----- Desktop + ----- //
		@include at-breakpoint($desktop) {

			.content {
				@include span-columns($desktop-columns omega, $desktop-columns);
			}

			.toc {
				display: block;
				@include span-columns(3, $desktop-columns);
			}

			.toc ~ .content {
				@include span-columns($desktop-columns - 3 omega, $desktop-columns);
			}

			.line {
				@include span-columns($desktop-columns / 3, $desktop-columns);
				@include nth-omega(3n);
			}

		}

		// ----- XXL Desktop + ----- //
		@include respond-to($very-large-desktop-min-width) {

		}
	}
}
