%article.event.info{itemscope: "", itemtype: "http://schema.org/Event"}
  %a{href: data.config.siteURL, itemprop: "url"}
    %span.title{itemprop: "name"} 灣樂音樂藝術節 One Love DancingFest 2014 - 天際探險 Love from the Sky
  %meta{content: "2014-07-19T14:00", itemprop: "startDate"}
  %span.date
    7月19日 14:00
    \- 6:30
  .other
    %p 巨型球體藝術裝置 ／ 動態視覺立體舞臺 ／ 國際大師表演藝人 ／ 十數組國內外知名演出單位 ／ 行動表演藝術 ／ 彩繪塗鴉藝術 ／ 極限水上運動 ／ 好評美食市集
  .location{itemprop: "location", itemscope: "", itemtype: "http://schema.org/Place"}
    %a{href: "http://www.wh-resort.com/", itemprop: "url"}
      白宮行舘 White House Resort
    %p{itemprop: "address", itemscope: "", itemtype: "http://schema.org/PostalAddress"}
      %span{itemprop: "addressLocality"} 新北市
      %span{itemprop: "addressRegion"} 萬里區
      %span{itemprop: "streetAddress"} 瑪鋉路 264 號
  .offers{itemprop: "offers", itemscope: "", itemtype: "http://schema.org/AggregateOffer"}
    %meta{itemprop: "highPrice", content: "NT$1300"}
    %meta{itemprop: "url", href: "http://www.ticket.com.tw/dm.asp?P1=0000015693"}
  .other
    %ul
      %li Funk D`void (Outpost Records)
      %li Marco Menichelli (LIVE＋ (Sun  Project)
      %li Child (LIVE+) (Outpost Records)
      %li David Jr. (LIVE)
      %li 閻韋伶 (VOCAL LIVE)
      %li @pple (DVDJ LIVE)
      %li Black Chocolate a.k.a. Al＋Fion (DJing＋LIVE)
      %li Calvin Z.
      %li 2Uncle Operate a.k.a. Blueman＋Tiger
      %li Terrence J.
      %li Digital.D
      %li Sona
      %li Marco Mei
      %li Josh
      %li Yao.
      %li Jet Chiu
      %li Eric
