%article.event.info{itemscope: "", itemtype: "http://schema.org/Event"}
  %a{href: data.config.siteURL, itemprop: "url"}
    %span{itemprop: "name"} 灣樂音樂藝術節 One Love DancingFest 2014 - 天際探險 Love from the Sky
  %meta{content: "2014-07-19T14:00", itemprop: "startDate"}
  7月19日 14:00
  \- 6:30
  .location{itemprop: "location", itemscope: "", itemtype: "http://schema.org/Place"}
    %a{href: "http://www.wh-resort.com/", itemprop: "url"}
      白宮行舘 White House Resort
    %p{itemprop: "address", itemscope: "", itemtype: "http://schema.org/PostalAddress"}
      %span{itemprop: "addressLocality"} 新北市
      %span{itemprop: "addressRegion"} 萬里區
      %span{itemprop: "streetAddress"} 瑪鋉路 264 號
  .offers{itemprop: "offers", itemscope: "", itemtype: "http://schema.org/AggregateOffer"}
    %meta{itemprop: "highPrice", content: "NT$1300"}
    %meta{itemprop: "url", href: "http://www.ticket.com.tw/dm.asp?P1=0000015693"}
