.inner
  %hgroup.title
    %h1= current_page.data.title ? current_page.data.title : data.config.siteTitle

  -#.action
  -#  %a.button.button--action(href="#foot-action")
  -#    .zh 立即訂票
  -#    .en Preserve Your Tickets
  .onelove
    %span.en # One Love DancingFest
    %span.zh 灣樂音樂藝術節

