%article.junior-ticket.ticket.ticket--small.ticket--pull
  %hgroup
    %h1 One Love Junior
    %h2 學生票
  %ul
    %li 限大專生 (含應屆畢業) 持用
  %p.price
    %del NT$ 1000
  .action
    %a.price NT$ 800
    %p (僅提供預售票)
  .end

%article.ticket
  %hgroup
    %h1 2014 灣樂音樂藝術節 - 天際探險
    %h2 One Love Dancingfest 2014 - Love from the Sky
  %ul
    %li 2014/7/19 (Sat) 14:00 - 06:30
    %li 白宮行館 White House Resort
    %li 新北市萬里區瑪鍊路264號 No.264, Masu Rd., Wanli Dist., New Taipei City 207
  %p.price
    %del NT$ 1300
  .action
    %a.price NT$ 1000
    %p (預售票，現場票每張 NT$ 1300 元)
  .end
