// *************************************
//
//   Colors
//
// *************************************

// ----- Base Colors ----- //

$black: #000;
$white: #dedede;
$red: #be1558;
$green: #7eb54a;
$blue: #1a75b0;
$yellow: #fcd767;
$orange: #ffa500;
$indigo: none;
$violet: #472981;

// ----- Extended Colors ----- //

$light-grayish-blue: #e9f4f9;
$bright-blue: #30a6dd;
$dark-moderate-blue: #312c7e;
$dark-blue: #16499b;
$very-dark-blue: #1e0e63;
$pure-pink: #eb007b;
