// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Susy Gird Config
// -------------------------------------

$total-columns: 5;
$tablet-columns: 10;
$desktop-columns: 12;
$large-desktop-columns: 12;
$column-width: 4.6em;
$gutter-width: 1.8em;
$grid-padding: 1em;

$tablet: $tablet-min-width $tablet-columns;
// => if (min-width $tablet-min-width) tablet -> use $tablet-columns
$desktop: $desktop-min-width $desktop-columns;
// => if (min-width $desktop-min-width) desktop -> use $desktop-columns

// -------------------------------------
//   Base
//   -> body, body wrapper
// -------------------------------------

// @include parallax-init;

body {
	cursor: auto;
	position: relative;
	height: auto;
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow-x: hidden;

	// Warp all elements in a div
	> div {
		position: relative;
		width: 100%;
	}
}

// -------------------------------------
//   Composition
//   -> header, footer, nav, main, story
// -------------------------------------

// @include parallax-init;

.page {
	padding: 0;
	margin: 0;

	@for $i from 1 through 49 {
		> *:nth-child(#{$i}) {
			z-index: 100 - $i;
		}
	}
}

section, main, header, footer {
	position: relative;
	background-color: $base-bgc;
	// transition-property: filter;
	// -webkit-transition-property: -webkit-filter;
	// -webkit-transition-property: filter;
	// -moz-transition-property: -moz-filter;
	// -moz-transition-property: filter;
	// -o-transition-property: -o-filter;
	// -o-transition-property: filter;
	// @include transition-duration(.4s);
	// @include filter(blur(0));
}

.nav-open {
	section, main, header, footer {
		@include filter(blur(5px));
	}
}


.inner {
	position: relative;
	overflow: hidden;
}

.fixbg-wrapper {
	position: static;
	@include background(image-url("photos/CM1B3621.jpg"));
	@include background-size(cover);
	background-attachment: fixed;
	background-position: 50% 50%;
}

// -------------------------------------
//   Header
//   -> 頭
// -------------------------------------

@import "layouts/header";

// -------------------------------------
//   Footer
//   -> 腳
// -------------------------------------

@import "layouts/footer";

// -------------------------------------
//   Nav
//   -> 導覽
// -------------------------------------

@import "layouts/nav";

// -------------------------------------
//   Main
//   -> 內文排版
// -------------------------------------

@import "layouts/main";

// -------------------------------------
//   Story
//   -> 故事 section
// -------------------------------------

@import "layouts/story";

// -------------------------------------
//   Off-Canvas
// -------------------------------------

// -------------------------------------
//   Inner Width
//   -> Stick to grid
// -------------------------------------

@for $i from 10 through 160 {

	@include respond-to($i*10 + px) {
		.inner, * .inner, * * .inner {
			max-width: none !important;
			width: ($i - round($i/10) - 1)*10 + 1px;
		}
	}
}
