// *************************************
//
//   Index
//   -> 首頁
//
// *************************************

.index {

	// -------------------------------------
	//   Layout
	// -------------------------------------

	header {
		position: absolute;
		background-image: none;
		width: 100%;
		background-color: transparent;
		background-image: none;
		padding-top: 1em;

		.title {
			display: none;
		}

		.action {
			position: relative;
			z-index: 100;
		}

		.onelove {
			display: none;
		}

		.inner {

			&::before {
				content: none;
				display: none;
			}
		}
	}

	.button a, .button:hover a {
		color: $white;
		text-decoration: none;
	}

	.welcome-slider, .welcome-slider * {
		width: 100%;
		height: 100%;
		@include background-size(cover);
	}

	.story.welcome {

		.inner {
			@include background-image(linear-gradient(top, rgba(#d1e6f4, 0) 0%, rgba(#d1e6f4, 0) 10%, rgba(#d1e6f4, .3) 40%, rgba(#d1e6f4, .3) 60%, rgba(#d1e6f4, 0) 90%, rgba(#d1e6f4, 0) 100%));
		}
	}

	// .story.welcome {
	// 	height: 500px;
	// }

	// @include respond-to($phone-min-width) {

	// 	.story.welcome {
	// 		height: 600px;
	// 	}

	// 	.main-menu {
	// 		top: 600px;
	// 	}
	// }

	@include respond-to($tablet-min-width) {

		.story.welcome {
			height: 90vh;
		}

		// .main-menu {
		// 	position: absolute;
		// 	@include position-sticky;
		// 	width: 100%;
		// 	top: 90vh;
		// }
	}

	// -------------------------------------
	//   Welcome
	// -------------------------------------

	.story.welcome {
		position: relative;
		width: 100%;
		// margin-bottom: 100px;
		display: table;
		background-color: #EBF6FA;
		// @include background-image(
		// 	linear-gradient(left, rgba(#fff, 0) 0%, rgba(#fff, 0) 50%, rgba(#CCF1FF, .5) 100%),
		// 	linear-gradient(right, rgba(#fff, 0) 0%, rgba(#fff, 0) 50%, rgba(#CCF1FF, .5) 100%),
		// 	radial-gradient(50% 0, rgba(#C48Aee, .8) 0%, rgba(#C48AFF, .3) 30%, rgba(#fff, 0) 100%)
		// );
		@extend %skybg;

		.inner {
			padding: 0;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			width: 100%;

			@include respond-to($tablet-min-width, max-width) {
				padding: 60px 0 60px;
			}
		}

		.title, .title * {
			margin: 0;
			font-family: "1LoveFest";
			color: $dark-moderate-blue;
			font-size: 80px;
			line-height: 80px;

			@include respond-to($phone-min-width, max-width) {
				font-size: 60px;
				line-height: 48px;
			}

			@include respond-to($small-phone-min-width, max-width) {
				font-size: 45px;
				line-height: 32px;
			}

			h1, h1 * {
				font-family: "1LoveFest-Italic";
				font-style: normal;
			}
		}

		.title {
			padding: 8px 12px;

			&, h1 {
				@include text-shadow(0 0 0 rgba(#E60889, .1), 0 0 0 rgba(#2FA9DF, .1), 0 0 0 rgba(#F5EF3E, .1), 0 0 18px rgba(#d1e6f4, .5), 0 0 3px rgba(#d1e6f4, .8));
				@include transition-property(text-shadow);
				@include transition-duration(.6s);
				@include transition-timing-function(cubic-bezier(0.175,  0.885, 0.320, 1.946));
			}

			h1 {

				.en, .zh {
					display: block;
					font-size: 100px;
					line-height: 86px;

					@include respond-to($phone-min-width, max-width) {
						font-size: 80px;
						line-height: 70px;
					}

					@include respond-to($small-phone-min-width, max-width) {
						font-size: 65px;
						line-height: 55px;
					}
				}
			}

			h2 {
				font-size: 32px;
				line-height: 32px;
				letter-spacing: 24px;
				padding-left: 24px;

				@include respond-to($phone-min-width, max-width) {
					font-size: 28px;
					line-height: 28px;
					letter-spacing: 16px;
					padding-left: 16px;
				}

				@include respond-to($small-phone-min-width, max-width) {
					font-size: 24px;
					line-height: 24px;
					letter-spacing: 8px;
					padding-left: 8px;
				}
			}

			.features {
				font-size: 28px;
				line-height: 70px;
				letter-spacing: 18px;
				word-spacing: -18px;
				padding-left: 9px;

				@include respond-to($tablet-min-width, max-width) { display: none; }
			}

			&:hover {
				@include text-shadow(-2px 0 0 rgba(#E60889, .8), 1.2px 0 0 rgba(#2FA9DF, .8), 2.4px 0 0 rgba(#F5EF3E, .8), 0 0 18px rgba(#d1e6f4, .5), 0 0 3px rgba(#d1e6f4, .8));

				h1 {
					@include text-shadow(-3px 0 0 rgba(#E60889, .8), 2px 0 0 rgba(#2FA9DF, .8), 4px 0 0 rgba(#F5EF3E, .8), 0 0 18px rgba(#d1e6f4, .5), 0 0 3px rgba(#d1e6f4, .8));
				}
			}
		}

		#scene {
			position: absolute;
			overflow: hidden;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;

			li {
				width: 100%;
				height: 100%;
			}

			.bg {
				@include background-size(cover);
				position: absolute;
				width: 124%;
				height: 136%;
				left: -12%;
				top: -18%;
			}
		}
	}

	section.story.event p {
	}

	// -------------------------------------
	//   Description
	// -------------------------------------

	.story.description {
		@include white_dot_background;
		@include background-image(image-url("photos/CM1B3621.jpg"));
		@include background-size(cover);
		// background-attachment: fixed;
		background-color: #2f281b;

		.inner {
			background-color: rgba($black, .52);
			text-align: center;
			padding-top: 60px;
			padding-bottom: 30px;

			h1 {
				color: $white;
				@include rhythm-to(0, 0, 0, 1, 37px);
			}

			h2 {
				color: $white;
				@include rhythm-to(1, 0.5, 0.5, 0, 20px);
			}
		}
	}

	// -------------------------------------
	//   Intro
	// -------------------------------------

	.story.intro {
		background-color: #1b1b1b;
		padding: 0;

		.inner {
			width: 100%;
			padding: 0;
		}

		.embed-video {
			width: 100%;
			margin: 0;
		}
	}

	// -------------------------------------
	//   Artists
	// -------------------------------------

	.story.artists {
		// background-color: $black;
		padding: 0;
		// @include white_dot_background;
		// @include background-image(image-url("photos/CM1B3832.jpg"));

		.inner {
			padding-top: 40px;
			padding-bottom: 40px;
			// background-color: rgba($white, .2);

			h1 {
				color: $white;
				text-align: center;
			}

			h2 {
				color: $white;
				line-height: inherit;

				small {
					color: rgba($white, .7);
				}
			}

			.p {
				line-height: 30px;
				font-size: 16px;
			}

			> div {
				@include span-columns($total-columns, $total-columns);

				@include at-breakpoint($tablet) {

					@include span-columns($tablet-columns / 4, $tablet-columns);
				}

				@include at-breakpoint($desktop) {

					@include span-columns($desktop-columns / 3, $desktop-columns);
					@include nth-omega(3n);
				}

				margin-bottom: 30px;
			}
		}

		.djs {
			height: 400px;

			.dj {
				position: absolute;

				img {
					width: 100%;
				}

				.name {
					display: inline-block;
					padding: 4px 24px;
					background-color: rgba($black, .72);
					color: $white;
				}

				&:hover {
					opacity: 0;
				}
			}

			.dj:nth-child(1) {
				width: 20%;
				height: 20%;

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(2) {
				width: 20%;
				height: 20%;
				left: 3%;
				top: 7.2%;

				.img {
					@include clip-path(polygon(0 62.1%, 100% 20.2%, 93.2% 79.7%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}

			.dj:nth-child(1) {

				.img {
					@include clip-path(polygon(24.3% 25.9%, 100% 32%, 0% 74%));
				}

				.name {

				}
			}
		}
	}

	// -------------------------------------
	//   Installations
	// -------------------------------------

	.story.installations {
		background-color: #6c7091;
		padding: 20px 0;
		@include background-image(image-url("index/sp.jpg"));
		@include background-size(cover);
		background-position: 50% 50%;
		padding: 0;

		p {
			color: $black;
		}

		.inner {
			padding: 30px 0;

			h1:first-child {
				margin-top: 30px;
			}
		}
	}

	footer {

		.location {
			display: block;
		}

		.other {
			display: block;
		}

		.map {
			height: 280px;

			@include respond-to($tablet-min-width) {
				height: 300px;
			}

			@include respond-to($desktop-min-width) {
				height: 500px;
			}

			@include respond-to($very-large-desktop-min-width) {
				height: 500px;
			}

			img {
				max-width: none;
			}
		}
	}
}

// -------------------------------------
//   Fallbacks
// -------------------------------------

.touch.index, .ios.index {

	@include respond-to($tablet-min-width) {

		.story.welcome {
			height: 600px;
		}

		// .main-menu {
		// 	top: 600px;
		// }
	}
}

@media only screen and (max-width: 600px) {

	header .inner {
		padding-top: 0;
	}
}
