---
title: INFO _活動資訊
---
aside.toc
  ul
    li
      a(href="#traffic") 交通路線
    li
      a(href="#shuttle") 來回程接駁車
    li
      a(href="#precautions") 活動注意事項
.content
  h2#traffic 交通路線
  markdown:
    ### 自行開車

    1. 北上：北二高下基隆萬里交流道，左轉基金一路，前行到基金三路與北部濱海公路交叉路口，右轉金山萬里方向，行駛北部濱海公路約50公里處即可抵達。
    2. 南下：沿北部濱海公路往基隆方向行駛，過野柳隧道，前行約半公里即可抵達。

    ### 搭乘大眾運輸

    1. 北上：搭乘國光客運接駁，或是在台北市羅斯福路公館捷運站附近搭乘福和客運往金山法鼓山方向的車次，在萬里海水浴場站下車，下車後往北部濱海公路方向行走1分鐘即可抵達。
    2. 南下：從基隆火車站乘坐基隆客運往金山方向的車次，在萬里海水浴場站下車，下車後往北部濱海公路方向行走即可抵達。

  h2#shuttle 來回程接駁車資訊
  markdown:
    灣樂專屬接駁計程車隊

    咨詢專線：
    0973-296-658 / 0986-819-321

    當日活動於台北市出發及白宮行舘之回程，均有供計程車接駁服務。

    1. 去程：當日下午 1 點起至 10 點前，上車地點於下列捷運站出口均有排班服務，將乘客載至 One Love 活動現場。
      永春站 4 號出口 / 行天宮正門左側（松江路上）
    2. 回程：於活動現場出口11點起至隔日凌晨7點前，均有排班服務，將乘客載至目的地松山火車站。
    3. 提供兩款車種選擇，4 人座與 6 人座，4 人座：每班車次 800 元，4 人共乘每人費用 200 元。6 人座：每班車次 990 元，6人共乘每人費用 165 元。

    ＊配合車隊均有 One Love 專屬貼紙可供辨識

  h2#precautions 活動注意事項
  markdown:

    1. 本售票通路退換票規則，本活動委託年代售票代為處理退票退款事宜，依退票退款規則 http://www.ticket.com.tw/infor/ticketing03.asp 辦理。
    2. 禁止攜帶飲料、玻璃瓶、食物、違禁品進入會場，會場入口設有保全人員檢查來賓之隨身物品。
    3. 年齡限制－未滿 18 歲者，須於凌晨 12 點前離場。請攜帶證件以備查驗。
    4. 為維護公眾安全，謝絕行為或精神異常者入場。
    5. 會場內設有台北縣警察局金山分局機動派出所及保安人員，請勿以身試法。本活動依法配合警方取締違禁品與危害公眾安全之行為，如經查獲將送警法辦。
    6. 本活動無寄物服務，請自行保管貴重物品，若有遺失請至服務台洽詢。
    7. 18:30 ~ 05:00 期間，禁止下水。
    8. 開車不喝酒，喝酒不開車。
    9. 本活動已投保公共意外責任保險。
    10. 本活動以 [Faceboook 官方粉絲頁](https://www.facebook.com/OneLoveDancingfest) 發佈為主。
    11. 主辦單位保留活動一切之權力。
