---
title: TICKETS _購票資訊
---
aside.toc
  ul
    li
      a(href="#tickets-store") 實體購票地點
    li
      a(href="#tickets-online") 網路購票
.content
  h2#tickets-store 實體購票地點

  h3 台北市
  markdown:
    南區：自然醒咖啡公寓  
    和平東路二段157號  
    02 2709-6066

    西區：有種唱片行  
    昆明街96巷20號  
    02 2375-5518

    東區：M@M Boutique  
    忠孝東路四段112號4樓之3  
    02 8771-5688

    南區：個體戶唱片行  
    羅斯福路三段297-5號3樓  
    02 2369-6386

    北區：Triangle  
    台北市中山區玉門街1號| 花博廣場內

  h2#tickets-online 網路購票
  markdown:
    - 年代售票
    - Citytalk
    - KKTIX

    便利商店購票說明：

    - 7-11 ibon 操作方式參考網頁：http://www.ibon.com.tw/
    - 全家 FamiPort 操作方式參考網頁：http://www.famiport.com.tw/intro.asp?page=5
    - 萊爾富 Life-Et 操作方式參考網頁：http://www.hilife.com.tw/serviceInfo_lifeET04.aspx
    - OK 超商 MART 操作方式參考網頁：http://www.okmart.com.tw/okGo_payment.asp?ID=47
