// *************************************
//
//   Module
//   -> This is an example module
//
// *************************************

@mixin button($color) {

	&, &:hover {
		display: inline-block;
		padding: 4px 6px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		max-width: 100%;
		overflow: hidden;
		@include ellipsis;
		background-color: $color;
		border: 1px solid darken($color, 10%);

		@if lightness($color) < 50% {
			color: $white;
		} @else {
			color: $black;
		}

		* {
			@include ellipsis;
		}
	}

	&:hover {
		background-color: lighten($color, 10%);
	}
}

.button {
	@include button($base-button-color);
}


// -------------------------------------
//   Modifiers
// -------------------------------------

.button--action {

}

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
