// *************************************
//
//   Map
//   -> Google Map Canvas
//
// *************************************

.map {
	height: 280px;

	@include respond-to($tablet-min-width) {
		height: 300px;
	}

	@include respond-to($desktop-min-width) {
		height: 500px;
	}

	@include respond-to($very-large-desktop-min-width) {
		height: 500px;
	}

	img {
		max-width: none;
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.map--full-width {
	width: 100%;
}

.map--overflow {

	&, > *, > * > *, > * > * > *{
		overflow: visible !important;
		// overflow-x: visible !important;
		// overflow-y: hidden !important;
	}
}

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
