// *************************************
//
//   Map
//   -> Google Map Canvas
//
// *************************************

.map {
	height: 500px;

	img {
		max-width: none;
	}
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.map--full-width {
	width: 100%;
}

// -------------------------------------
//   States
// -------------------------------------

// .is-module-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Submodule ----- //

// .module-submodule
